@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/gothambook.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.bg {
  background-image: url('../img/noise.png');
  background-repeat:  repeat;
}
.article__cover.bg {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: cover;
}