@import '_var';
@import '_extend';
@import './_partial/_header';
html,
body,
#app {
    height: 100%
}

body {
    background: $color-background;
    font: $font-size $font-sans;
    -webkit-text-size-adjust: 100%;
}

.outer {
    // clearfix();
    // max-width: ($column-width + $gutter-width) * $columns + $gutter-width;
    margin: 0 auto;
    padding: 0 $gutter-width;
}

// .inner
//   column(columns)
.left,
.alignleft {
    float: left
}

.right,
.alignright {
    float: right
}

.clear {
    clear: both
}

#container {
    position: relative
}

.mobile-nav-on {
    overflow: hidden
}

#wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease-out;
    z-index: 1;
    background: $color-background;
    @at-root .mobile-nav-on & {
        left: $mobile-nav-width;
    }
}
.inner {
    width: 100%;
}