@import '_var';
@import '_extend';
@import './_partial/_header';
@import './_partial/_article';
@import './_partial/_footer';
html,
body,
#app {
    border-top: 1px solid transparent;
    min-width: 640px;
    height: 100vh;
}

body {
    background: $color-background;
    font: $font-size $font-sans;
    -webkit-text-size-adjust: 100%;
}

// .inner
//   column(columns)
.left,
.fl {
    float: left
}

.right,
.fr {
    float: right
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.st-main {
  margin-top: $header + 20px;
  width: 100%;
  min-height: 100%;
  transition: margin .3s cubic-bezier(.17, .67, .83, .67);
}

.st-header-fixed+.st-main {
    border-top: 1px solid transparent;
    // margin-top: 120px;
}

.st-header-hide+.st-main {
    // margin-top: 20px;
}

.st-wapper {
    width: 100%;
    max-width: 1300px;
    margin-right:auto; // background-color: #fff;
    margin-left: auto;
    @media screen and (min-width: 1280px) {
        width: 1250px;
    }
    @media screen and (min-width: 980px) {
        width: 950px;
    }
    @media screen and (min-width: 736px) {
        width: 100%;
    }
}

.type-list {
  padding: 16px;
  li {
    animation: articleIn .2s ease-in-out;
    &:hover {
      color: #000;
      font-weight: 700;
    }
    &.actived {
      color: #fff;
      font-weight: 400;
      border-color: #222;
      background-color: #222;
    }
    padding: 0 12px;
    margin-right: 15px;
    margin-bottom: 16px;
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: width .2s ease;
    &.list__item {
      border-color: #cccccb;
    }
    &.small {
      font-size: 12px;
    }
  }
  &.max-height {
    max-height: 60vh;
    overflow-y: auto;
    margin-right: -16px;
  }
}